<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Albums</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav>
    <a href="/">Home</a>
    <a href="/albums">Albums</a>
</nav>
<h3>This page contains my albums!</h3>
<div class="container">
    <div class="row">
        <div class="col">
            <ul th:each="a : ${albums}">
                <li><img th:src="${a.imageUrl}" /></li>
                <li th:text="'Artist Name:  '+${a.artist}"></li>
                <li th:text="'Album Name:  '+${a.title}"></li>
                <li th:text="'Album Song Count:  '+${a.songCount}"></li>
                <li th:text="'Album Length:  '+${a.length}+' minutes'"></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>